* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

/* Sculpter's Haven */


/* AngelEars */
/* ensure that the cta's all caps is countered by styling to make it look all
    lowercase. maybe even just a round font */

/* Tailored Spooks */
/* color theme thoughts: a radial gradient of black in center, jacko-orange 2nd layer, blood red 3rd layer */