* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

/* Sculpter's Haven */
#sculp-navbar {
    background: linear-gradient(
        to bottom,
        #005700,
        #643500,
        #444444
    );
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}

#sculp-navbar a {
    text-decoration: none;
    color: #ec8f43;
    background-color: #026902a1;
    padding: 12px;
    border-radius: 12px;
    margin-right: 24px;
}
#sculp-navbar a:hover {
    text-decoration: underline;
    color: whitesmoke;
    background-color: #444444;
}

/* AngelEars */
#ears-navbar {
    background: linear-gradient(
        to right, 
        #ff9736, 
        #ffe262
    );
    border-bottom: 2px solid #024b0081;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ears-navbar h2 a {
    color: #008ac0;
    background-color: #f5f5f594;
}
#ears-navbar h2 a:hover {
    text-decoration: underline;
    font-style: italic;
    color: #005272;
    background-color: #f5f5f5be;
}

#ears-navbar a {
    text-decoration: none;
    color: whitesmoke;
    padding: 12px;
    margin: 10px 20px;
    background-color: #047e0083;
    border-radius: 10px;
}
#ears-navbar a:hover {
    text-decoration: underline;
    font-style: italic;
    color: #ffe262;
    background-color: #024b0081;
}

/* Tailored Spooks */
#header {
    position: sticky;
    top: 0px;
}

#promo h4 {
    margin: 0px;
    background-color: #f08000;
    text-align: center;
    padding: 5px 0px;
}

#main-nav {
    background: radial-gradient(
        #303030,
        #9c0000
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 48px;
}
#main-nav a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}
#main-nav a:hover {
    font-style: italic;
    background-color: #ff8800;
    border-radius: 50px;
    padding: 12px;
}
#main-nav h2 a {
    color: #f08000;
}
#main-nav h2 a:hover {
    background-color: #000000ab;
}

#bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a1a1a1;
}
#bottom-nav a {
    margin: 10px 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#bottom-nav a:hover {
    font-style: italic;
    text-decoration: underline;
}