* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
}

#sidebar {
    position: relative;
    width: 250px;
}

#sidebar h2 {
    border-bottom: 2px solid #154b00;
    padding-bottom: 8px;
}

#sticky-sidebar {
    position: sticky;
    top: 0px;
    padding: 24px;
    border-right: 2px solid #154b00;
    background-color: #ffe658;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar ul a {
    color: #111;
    text-decoration: none;
}

#sidebar ul li {
    padding: 4px 0px;
}

#main-content {
    padding: 48px;
    flex: 1;
}