* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
}
/* @ Myself, Don't Accidentally Edit Above */

#sidebar {
    position: relative;
    width: 250px;
    font-weight: bold;
}

#sidebar h3 {
    border-bottom: 3px solid #48b11e;
    padding-bottom: 8px;
    text-align: center;
    color: #db8f1d;
}

#sticky-sidebar {
    position: sticky;
    top: 0px;
    padding: 24px;
    border: 3px solid #48b11e;
    background-color: #fffd91;
}
/* I looked up how to re-color my bullets :) */
li::marker {
    color: #48b11e;
}

#sidebar ul a {
    color: #db8f1d;
    text-decoration: none;
}

#sidebar ul li {
    padding: 4px 0px;
}

#main-content {
    padding: 48px;
    flex: 1;
    background-color: #88c5fd;
    color: #f8fff8;
}

#main-content h1 {
    text-align: center;
    background-color: #eeedb4;
    color: #a56c2a;
    padding: 5px;
}

#main-content h2 {
    text-align: center;
    background-color: #eeedb4;
    color: #a56c2a;
}

#main-content h4 {
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid #eeedb4;
    color: #a56c2a;
}